### 1) For our data cleaning exercises, we will return one last time to our ACS data here. Download and import the 10percent ACS sample.

In [50]:
import pandas as pd
df = pd.read_stata('./US_ACS_2017_10pct_sample.dta')

### 2) For our exercises today, we’ll focus on age, gender, sex, educ, and inctot. Subset your data to those variables, and quickly look at a sample of 10 rows.

In [51]:
df_subset = df[["age", "sex", "educ", "inctot"]]
df_subset.sample()

pd.set_option('display.max_columns', None)
df.head()

,year,datanum,serial,cbserial,numprec,subsamp,hhwt,hhtype,cluster,adjust,cpi99,region,stateicp,statefip,countyicp,countyfip,metro,city,citypop,strata,gq,farm,ownershp,ownershpd,mortgage,mortgag2,mortamt1,mortamt2,respmode,pernum,cbpernum,perwt,slwt,famunit,sex,age,marst,birthyr,race,raced,hispan,hispand,bpl,bpld,citizen,yrnatur,yrimmig,language,languaged,speakeng,hcovany,hcovpriv,hinsemp,hinspur,hinstri,hcovpub,hinscaid,hinscare,hinsva,hinsihs,school,educ,educd,gradeatt,gradeattd,schltype,degfield,degfieldd,degfield2,degfield2d,empstat,empstatd,labforce,occ,ind,classwkr,classwkrd,looking,availble,inctot,ftotinc,incwage,incbus00,incss,incwelfr,incinvst,incretir,incsupp,incother,incearn,poverty,migrate1,migrate1d,migplac1,migcounty1,migmet131,vetdisab,diffrem,diffphys,diffmob,diffcare,diffsens,diffeye,diffhear
0,2017,1,177686,2.017001e+12,9,64,55,"female householder, no husband present",2.017002e+12,1.011189,0.679,pacific division,california,california,370,37,in metropolitan area: not in central/principal...,not in identifiable city (or size group),0,374206,additional households under 1990 definition,non-farm,rented,with cash rent,n/a,n/a,0,0,internet,8,8,84,84,2nd family in household or group quarters,female,4,never married/single,2013,white,white,mexican,mexican,california,california,n/a,n/a,0,n/a or blank,n/a or blank,n/a (blank),with health insurance coverage,without private health insurance coverage,no insurance through employer/union,no insurance purchased directly,no insurance through tricare,with public health insurance coverage,has insurance through medicaid,no,no insurance through va,no insurance through indian health service,"yes, in school",nursery school to grade 4,"nursery school, preschool",nursery school/preschool,nursery school/preschool,public school,n/a,n/a,n/a,n/a,n/a,n/a,n/a,0,0,n/a,n/a,n/a,n/a,9999999,21200,999999,999999,99999,99999,999999,999999,99999,99999,0,63,same house,same house,n/a,0,not in identifiable area,n/a,n/a,n/a,n/a,n/a,no vision or hearing difficulty,no,no
1,2017,1,1200045,2.017001e+12,6,79,25,"male householder, no wife present",2.017012e+12,1.011189,0.679,west south central div,texas,texas,1210,121,in metropolitan area: not in central/principal...,not in identifiable city (or size group),0,200448,households under 1970 definition,non-farm,owned or being bought (loan),owned free and clear,"no, owned free and clear",n/a,0,0,mail,3,3,57,57,1st family in household or group quarters,female,17,never married/single,2000,white,white,other,ecuadorian,texas,texas,n/a,n/a,0,spanish,spanish,"yes, speaks very well",with health insurance coverage,with private health insurance coverage,has insurance through employer/union,no insurance purchased directly,no insurance through tricare,without public health insurance coverage,no insurance through medicaid,no,no insurance through va,no insurance through indian health service,"yes, in school",grade 11,grade 11,grade 9 to grade 12,grade 12,public school,n/a,n/a,n/a,n/a,employed,at work,"yes, in the labor force",4110,8680,works for wages,"wage/salary, private","no, did not look for work","no, other reason(s)",6000,93000,6000,0,0,0,0,0,0,0,6000,286,same house,same house,n/a,0,not in identifiable area,n/a,no cognitive difficulty,no ambulatory difficulty,no independent living difficulty,no,no vision or hearing difficulty,no,no
2,2017,1,70831,2.017000e+12,1 person record,36,57,"male householder, living alone",2.017001e+12,1.011189,0.679,pacific division,california,california,790,79,in metropolitan area: central/principal city s...,not in identifiable city (or size group),0,790106,households under 1970 definition,non-farm,rented,with cash rent,n/a,n/a,0,0,internet,1,1,58,58,1st family in household or group quarters,male,63,separated,1954,white,white,not hispanic,not hispanic,california,california,n/a,n/a,0,english,english,"yes, speaks only english",with health insurance coverage,with private health insurance coverage,has insurance through employer/union,no insurance purchased directly,no insurance through tricare,without public health insurance coverage,no insurance through medicaid,no,no insurance through va,no insurance through indian health service,"no, not in school",4 years of college,bachelor's degree,n/a,n/a,not enrolled,family and consumer sciences,family and consumer sciences,n/a,n/a,employed,at work,"yes, in the labor force",540,7870,works for wages,state govt employee,not reported,not reported,6150,6150,6000,0,0,0,150,0,0,0,6000,49,same house,same house,n/a,0,not in identifiable area,n/a,has cognitive difficulty,no ambulatory difficulty,no independent living difficulty,no,no vision or hearing difficulty,no,no
3,2017,1,557128,2.017001e+12,2,10,98,married-couple family household,2.017006e+12,1.011189,0.679,west south central div,louisiana,louisiana,0,0,metropolitan status indeterminable (mixed),not in identifiable city (or size group),0,180022,households under 1970 definition,non-farm,rented,no cash rent,n/a,n/a,0,0,mail,1,1,98,98,1st family in household or group quarters,female,66,"married, spouse present",1951,white,white,not hispanic,not hispanic,new jersey,new jersey,n/a,n/a,0,english,english,"yes, speaks only english",with health insurance coverage,with private health insurance coverage,no insurance through employer/union,has insurance purchased directly,no insurance through tricare,with public health insurance coverage,no insurance through medicaid,yes,no insurance through va,no insurance through indian health service,"no, not in school",grade 12,"some college, but less than 1 year",n/a,n/a,not enrolled,n/a,n/a,n/a,n/a,not in labor force,not in labor force,"no, not in the labor force",0,0,n/a,n/a,not reported,not reported,14000,28500,0,0,10300,0,100,3600,0,0,0,194,same house,same house,n/a,0,not in identifiable area,n/a,no cognitive difficulty,no ambulatory difficulty,no independent living difficulty,no,no vision or hearing difficulty,no,no
4,2017,1,614890,2.017001e+12,4,96,54,married-couple family household,2.017006e+12,1.011189,0.679,new england division,massachusetts,massachusetts,0,0,in metropolitan area: not in central/principal...,not in identifiable city (or size group),0,70125,households under 1970 definition,non-farm,rented,with cash rent,n/a,n/a,0,0,mail,4,4,45,45,1st family in household or group quarters,male,1,never married/single,2016,white,white,not hispanic,not hispanic,massachusetts,massachusetts,n/a,n/a,0,n/a or blank,n/a or blank,n/a (blank),with health insurance coverage,with private health insurance coverage,has insurance through employer/union,no insurance purchased directly,no insurance through tricare,without public health insurance coverage,no insurance through medicaid,no,no insurance through va,no insurance through indian health service,n/a,n/a or no schooling,n/a,n/a,n/a,n/a,n/a,n/a,n/a,n/a,n/a,n/a,n/a,0,0,n/a,n/a,n/a,n/a,9999999,89000,999999,999999,99999,99999,999999,999999,99999,99999,0,361,same house,same house,n/a,0,not in identifiable area,n/a,n/a,n/a,n/a,n/a,no vision or hearing difficulty,no,no

3) First, replace all the values of inctot that are 9999999 with np.nan.

In [52]:
import numpy as np
df_subset['inctot'].replace(9999999, np.NaN)

0              NaN
1           6000.0
2           6150.0
3          14000.0
4              NaN
            ...
318999     22130.0
319000         NaN
319001      5000.0
319002    240000.0
319003     48000.0
Name: inctot, Length: 319004, dtype: float64

### 4) Calculate the average age of people in our data. What do you get?

In [53]:
df_subset['age'].mean()

TypeError: 'Categorical' does not implement reduction 'mean'

### Response: Does not work because it is a categorical variable.

5) We want to be able to calculate things using age, so we need it to be a numeric type. Check all the values of age to figure out why it’s categorical and not numeric. You should find two problematic categories.

In [63]:
df_subset['age']

96      10
91     227
92     355
95     471
93     476
      ...
58    4734
56    4776
59    4776
54    4821
60    4950
Name: age, Length: 97, dtype: int64

### 6) In order to convert age into a numeric variable, we need to replace those problematic entries with values that pandas can later convert into numbers. Pick appropriate substitutions for the existing values and replace the current values. Hint 1: Categorical variables act like strings, so you might want to use string methods! Hint 2: Remember that characters like parentheses, pluses, asterices, etc. are special in Python strings, and you have to escape them if you want them to be interpreted literally!

In [71]:
df_subset["age"].replace("less than 1 year old", "0")
df_subset["age"].replace("90 (90+ in 1980 and 1990)" , "90")
df_subset["age"]

0          4
1         17
2         63
3         66
4          1
          ..
318999    33
319000     4
319001    20
319002    47
319003    33
Name: age, Length: 319004, dtype: category
Categories (97, object): ['less than 1 year old' < '1' < '2' < '3' ... '93' < '94' < '95' < '96']

### 7) Now convert age from a categorical to numeric.

In [75]:
pd.to_numeric(df_subset["age"])
#age_num = pd.get_dummies(df_subset, columns=['age'], prefix = ['age'])

ValueError: Unable to parse string "less than 1 year old" at position 37

In [73]:
df_subset["age"].mean()

TypeError: 'Categorical' does not implement reduction 'mean'

### 8) Let’s now filter out anyone in our data whose age is less than than 18. Note that before made age a numeric variable, we couldn’t do this!

In [49]:
df_filtered = df_subset[df_subset["age"] < 18]
df_filtered

TypeError: Invalid comparison between dtype=category and int

### 9) Create an indicator variable for whether each person has at least a college degree called college_degree.

In [ ]:
df['degfield']

0                                              NaN
1                                              NaN
2                     family and consumer sciences
3                                              NaN
4                                              NaN
                            ...
318999    medical and health sciences and services
319000                                         NaN
319001                                         NaN
319002                           physical sciences
319003                                   fine arts
Name: degfield, Length: 319004, dtype: category
Categories (38, object): ['n/a' < 'agriculture' < 'environment and natural resources' < 'architecture' ... 'fine arts' < 'medical and health sciences and services' < 'business' < 'history']

### Correct NaN Values in respective 'degfield' column

In [ ]:

df.loc[df['degfield'] == 'n/a','degfield'] = np.nan

In [ ]:
df_subset.loc[:,'college_degree'] = pd.notna(df.degfield)

df_subset.sample(50)

/Users/laroehr/opt/miniconda3/lib/python3.9/site-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

       age     sex                       educ   inctot  college_degree
236085  36    male          1 year of college    76000           False
94873   16    male                   grade 11      700           False
113504  37    male         2 years of college    65000           False
308223  31    male                   grade 12    14000           False
221989  79    male          1 year of college    19800           False
246559  59  female                   grade 12    27200           False
62167   34    male        5+ years of college   120000            True
281220   8    male  nursery school to grade 4  9999999           False
306297  14    male        grade 5, 6, 7, or 8  9999999           False
61303   35  female        5+ years of college    40000            True
249830  71    male                   grade 12    79000           False
53440   54  female          1 year of college    31700           False
281471  46    male          1 year of college    72000           False
60931   26  female         4 years of college    27000            True
61446   36    male          1 year of college    50000           False
127857  59  female          1 year of college     5100           False
118726  60  female          1 year of college    47000           False
92823   46  female        5+ years of college        0            True
238171  17  female                   grade 11        0           False
224399  28  female                   grade 12    50000           False
149688  54  female          1 year of college        0           False
5110    49  female         4 years of college    37500            True
12869   47  female                   grade 12    35500           False
255161  52    male          1 year of college    18600           False
127144  11    male        grade 5, 6, 7, or 8  9999999           False
128154  45  female                   grade 12    40000           False
146221  34  female                   grade 12      500           False
150781  50    male         4 years of college   426000            True
285140  63  female         4 years of college    33000            True
114549  23    male         2 years of college    18000           False
203448  71    male                   grade 12    31200           False
256713  43  female          1 year of college    30400           False
228664  32    male         4 years of college   100000            True
173318  62    male         2 years of college    38400           False
121077  76  female                   grade 12     4300           False
224969   3  female        n/a or no schooling  9999999           False
163826  54    male          1 year of college    46700           False
301312  63    male                   grade 12    50000           False
20272   79  female                   grade 12    16000           False
311422  52  female        5+ years of college   260000            True
83170   43  female                   grade 12    20000           False
272316  31  female         2 years of college    34000           False
194970  46  female        5+ years of college    78900            True
179668  48  female        grade 5, 6, 7, or 8     2600           False
71949   85  female                   grade 11    12000           False
107063  69    male        5+ years of college    25170            True
302208  18  female          1 year of college        0           False
41384    1  female        n/a or no schooling  9999999           False
67768   82    male                   grade 12    17200           False
272833  77    male         4 years of college    25000            True

### 10) Let’s examine how the educational gender gap. Use pd.crosstab to create a cross-tabulation of sex and college_degree. pd.crosstab will give you the number of people who have each combination of sex and college_degree (so in this case, it will give us a 2x2 table with Male and Female as rows, and college_degree True and False as columns, or vice versa.

In [ ]:
import pandas as pd
pd.crosstab(index=df_subset['college_degree'], columns=df_subset['sex'])

sex               male  female
college_degree
False           119684  122307
True             36181   40832

### 11) Counts are kind of hard to interpret. pd.crosstab can also normalize values to give percentages. Look at the pd.crosstab help file to figure out how to normalize the values in the table. Normalize them so that you get the share of men with and without college degree, and the share of women with and without college degrees.

In [ ]:
pd.crosstab(index=df_subset['college_degree'], columns=df_subset['sex'],normalize='index')

sex                 male    female
college_degree
False           0.494580  0.505420
True            0.469804  0.530196

### 12) Now, let’s recreate that table for people over 40 and people under 40. Has the difference between men and women in terms of getting a college degree impoved, stayed the same, or worsened?

In [ ]:
df_subset[:'age  over 40'] = df_subset[df_subset['age'] > 40]

df_subset.sample(10)

TypeError: Invalid comparison between dtype=category and int

In [ ]:
pd.crosstab(index=df_subset['college_degree'], columns=df_subset['age'],normalize='index')