### Assignment Cleaning data by *Larissa*
---

### 1) For our data cleaning exercises, we will return one last time to our ACS data here. Download and import the 10percent ACS sample.

In [50]:
import pandas as pd
df = pd.read_stata('./US_ACS_2017_10pct_sample.dta')

### 2) For our exercises today, weâ€™ll focus on age, gender, sex, educ, and inctot. Subset your data to those variables, and quickly look at a sample of 10 rows.

In [51]:
df_subset = df[["age", "sex", "educ", "inctot"]]
df_subset.sample()

pd.set_option('display.max_columns', None)
df.head()

,year,datanum,serial,cbserial,numprec,subsamp,hhwt,hhtype,cluster,adjust,cpi99,region,stateicp,statefip,countyicp,countyfip,metro,city,citypop,strata,gq,farm,ownershp,ownershpd,mortgage,mortgag2,mortamt1,mortamt2,respmode,pernum,cbpernum,perwt,slwt,famunit,sex,age,marst,birthyr,race,raced,hispan,hispand,bpl,bpld,citizen,yrnatur,yrimmig,language,languaged,speakeng,hcovany,hcovpriv,hinsemp,hinspur,hinstri,hcovpub,hinscaid,hinscare,hinsva,hinsihs,school,educ,educd,gradeatt,gradeattd,schltype,degfield,degfieldd,degfield2,degfield2d,empstat,empstatd,labforce,occ,ind,classwkr,classwkrd,looking,availble,inctot,ftotinc,incwage,incbus00,incss,incwelfr,incinvst,incretir,incsupp,incother,incearn,poverty,migrate1,migrate1d,migplac1,migcounty1,migmet131,vetdisab,diffrem,diffphys,diffmob,diffcare,diffsens,diffeye,diffhear
0,2017,1,177686,2.017001e+12,9,64,55,"female householder, no husband present",2.017002e+12,1.011189,0.679,pacific division,california,california,370,37,in metropolitan area: not in central/principal...,not in identifiable city (or size group),0,374206,additional households under 1990 definition,non-farm,rented,with cash rent,n/a,n/a,0,0,internet,8,8,84,84,2nd family in household or group quarters,female,4,never married/single,2013,white,white,mexican,mexican,california,california,n/a,n/a,0,n/a or blank,n/a or blank,n/a (blank),with health insurance coverage,without private health insurance coverage,no insurance through employer/union,no insurance purchased directly,no insurance through tricare,with public health insurance coverage,has insurance through medicaid,no,no insurance through va,no insurance through indian health service,"yes, in school",nursery school to grade 4,"nursery school, preschool",nursery school/preschool,nursery school/preschool,public school,n/a,n/a,n/a,n/a,n/a,n/a,n/a,0,0,n/a,n/a,n/a,n/a,9999999,21200,999999,999999,99999,99999,999999,999999,99999,99999,0,63,same house,same house,n/a,0,not in identifiable area,n/a,n/a,n/a,n/a,n/a,no vision or hearing difficulty,no,no
1,2017,1,1200045,2.017001e+12,6,79,25,"male householder, no wife present",2.017012e+12,1.011189,0.679,west south central div,texas,texas,1210,121,in metropolitan area: not in central/principal...,not in identifiable city (or size group),0,200448,households under 1970 definition,non-farm,owned or being bought (loan),owned free and clear,"no, owned free and clear",n/a,0,0,mail,3,3,57,57,1st family in household or group quarters,female,17,never married/single,2000,white,white,other,ecuadorian,texas,texas,n/a,n/a,0,spanish,spanish,"yes, speaks very well",with health insurance coverage,with private health insurance coverage,has insurance through employer/union,no insurance purchased directly,no insurance through tricare,without public health insurance coverage,no insurance through medicaid,no,no insurance through va,no insurance through indian health service,"yes, in school",grade 11,grade 11,grade 9 to grade 12,grade 12,public school,n/a,n/a,n/a,n/a,employed,at work,"yes, in the labor force",4110,8680,works for wages,"wage/salary, private","no, did not look for work","no, other reason(s)",6000,93000,6000,0,0,0,0,0,0,0,6000,286,same house,same house,n/a,0,not in identifiable area,n/a,no cognitive difficulty,no ambulatory difficulty,no independent living difficulty,no,no vision or hearing difficulty,no,no
2,2017,1,70831,2.017000e+12,1 person record,36,57,"male householder, living alone",2.017001e+12,1.011189,0.679,pacific division,california,california,790,79,in metropolitan area: central/principal city s...,not in identifiable city (or size group),0,790106,households under 1970 definition,non-farm,rented,with cash rent,n/a,n/a,0,0,internet,1,1,58,58,1st family in household or group quarters,male,63,separated,1954,white,white,not hispanic,not hispanic,california,california,n/a,n/a,0,english,english,"yes, speaks only english",with health insurance coverage,with private health insurance coverage,has insurance through employer/union,no insurance purchased directly,no insurance through tricare,without public health insurance coverage,no insurance through medicaid,no,no insurance through va,no insurance through indian health service,"no, not in school",4 years of college,bachelor's degree,n/a,n/a,not enrolled,family and consumer sciences,family and consumer sciences,n/a,n/a,employed,at work,"yes, in the labor force",540,7870,works for wages,state govt employee,not reported,not reported,6150,6150,6000,0,0,0,150,0,0,0,6000,49,same house,same house,n/a,0,not in identifiable area,n/a,has cognitive difficulty,no ambulatory difficulty,no independent living difficulty,no,no vision or hearing difficulty,no,no
3,2017,1,557128,2.017001e+12,2,10,98,married-couple family household,2.017006e+12,1.011189,0.679,west south central div,louisiana,louisiana,0,0,metropolitan status indeterminable (mixed),not in identifiable city (or size group),0,180022,households under 1970 definition,non-farm,rented,no cash rent,n/a,n/a,0,0,mail,1,1,98,98,1st family in household or group quarters,female,66,"married, spouse present",1951,white,white,not hispanic,not hispanic,new jersey,new jersey,n/a,n/a,0,english,english,"yes, speaks only english",with health insurance coverage,with private health insurance coverage,no insurance through employer/union,has insurance purchased directly,no insurance through tricare,with public health insurance coverage,no insurance through medicaid,yes,no insurance through va,no insurance through indian health service,"no, not in school",grade 12,"some college, but less than 1 year",n/a,n/a,not enrolled,n/a,n/a,n/a,n/a,not in labor force,not in labor force,"no, not in the labor force",0,0,n/a,n/a,not reported,not reported,14000,28500,0,0,10300,0,100,3600,0,0,0,194,same house,same house,n/a,0,not in identifiable area,n/a,no cognitive difficulty,no ambulatory difficulty,no independent living difficulty,no,no vision or hearing difficulty,no,no
4,2017,1,614890,2.017001e+12,4,96,54,married-couple family household,2.017006e+12,1.011189,0.679,new england division,massachusetts,massachusetts,0,0,in metropolitan area: not in central/principal...,not in identifiable city (or size group),0,70125,households under 1970 definition,non-farm,rented,with cash rent,n/a,n/a,0,0,mail,4,4,45,45,1st family in household or group quarters,male,1,never married/single,2016,white,white,not hispanic,not hispanic,massachusetts,massachusetts,n/a,n/a,0,n/a or blank,n/a or blank,n/a (blank),with health insurance coverage,with private health insurance coverage,has insurance through employer/union,no insurance purchased directly,no insurance through tricare,without public health insurance coverage,no insurance through medicaid,no,no insurance through va,no insurance through indian health service,n/a,n/a or no schooling,n/a,n/a,n/a,n/a,n/a,n/a,n/a,n/a,n/a,n/a,n/a,0,0,n/a,n/a,n/a,n/a,9999999,89000,999999,999999,99999,99999,999999,999999,99999,99999,0,361,same house,same house,n/a,0,not in identifiable area,n/a,n/a,n/a,n/a,n/a,no vision or hearing difficulty,no,no

3) First, replace all the values of inctot that are 9999999 with np.nan.

In [52]:
import numpy as np
df_subset['inctot'].replace(9999999, np.NaN)

0              NaN
1           6000.0
2           6150.0
3          14000.0
4              NaN
            ...
318999     22130.0
319000         NaN
319001      5000.0
319002    240000.0
319003     48000.0
Name: inctot, Length: 319004, dtype: float64

### 4) Calculate the average age of people in our data. What do you get?

In [53]:
df_subset['age'].mean()

TypeError: 'Categorical' does not implement reduction 'mean'

### Response: Does not work because it is a categorical variable.

### 5) We want to be able to calculate things using age, so we need it to be a numeric type. Check all the values of age to figure out why itâ€™s categorical and not numeric. You should find two problematic categories.

In [54]:
df_subset['age']
age_list = df_subset['age'].tolist()
# print(age_list)

### Note: The critical variables are *less than 1 year* and *90+ in 1980 and 1990* and their values first have to be cleanedto then convert *age* into numeric.

### 6) In order to convert age into a numeric variable, we need to replace those problematic entries with values that pandas can later convert into numbers. Pick appropriate substitutions for the existing values and replace the current values. Hint 1: Categorical variables act like strings, so you might want to use string methods! Hint 2: Remember that characters like parentheses, pluses, asterices, etc. are special in Python strings, and you have to escape them if you want them to be interpreted literally!

In [66]:
df_subset["age"] = df_subset["age"].replace("less than 1 year old", "0").copy()
df_subset["age"] = df_subset["age"].replace("90 (90+ in 1980 and 1990)" , "90").copy()
df_subset["age"] = df_subset["age"].copy()

/var/folders/lq/p8pdq4md5zx4cq5wzfvtz_2hfys2sp/T/ipykernel_2562/2410597300.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset["age"] = df_subset["age"].replace("less than 1 year old", "0").copy()
/var/folders/lq/p8pdq4md5zx4cq5wzfvtz_2hfys2sp/T/ipykernel_2562/2410597300.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset["age"] = df_subset["age"].replace("90 (90+ in 1980 and 1990)" , "90").copy()
/var/folders/lq/p8pdq4md5zx4cq5wzfvtz_2hfys2sp/T/ipykernel_2562/2410597300.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset["age"] = df_subset["age"].copy()

In [67]:
age_list2 = df_subset['age'].tolist()
# print(age_list2)

### 7) Now convert age from a categorical to numeric.

In [70]:
df_subset["age"] = df_subset["age"].astype("int64")

/var/folders/lq/p8pdq4md5zx4cq5wzfvtz_2hfys2sp/T/ipykernel_2562/2117634962.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset["age"] = df_subset["age"].astype("int64")

In [75]:
f'The mean age is {df_subset["age"].mean()}'

'The mean age is 41.30384885455982'

### 8) Letâ€™s now filter out anyone in our data whose age is less than than 18. Note that before made age a numeric variable, we couldnâ€™t do this!

In [76]:
df_filtered = df_subset[df_subset["age"] < 18]
print("Now we filtered the data to only have people over 18: ")
df_filtered

Now we filtered the data to only have people over 18:

        age     sex                       educ   inctot
0         4  female  nursery school to grade 4  9999999
1        17  female                   grade 11     6000
4         1    male        n/a or no schooling  9999999
7         8  female  nursery school to grade 4  9999999
8        14  female        grade 5, 6, 7, or 8  9999999
...     ...     ...                        ...      ...
318989    0    male        n/a or no schooling  9999999
318991   10    male  nursery school to grade 4  9999999
318996   15  female                    grade 9        0
318997    6  female  nursery school to grade 4  9999999
319000    4  female  nursery school to grade 4  9999999

[65970 rows x 4 columns]

### 9) Create an indicator variable for whether each person has at least a college degree called college_degree.

In [77]:
df['degfield']

0                                              n/a
1                                              n/a
2                     family and consumer sciences
3                                              n/a
4                                              n/a
                            ...
318999    medical and health sciences and services
319000                                         n/a
319001                                         n/a
319002                           physical sciences
319003                                   fine arts
Name: degfield, Length: 319004, dtype: category
Categories (38, object): ['n/a' < 'agriculture' < 'environment and natural resources' < 'architecture' ... 'fine arts' < 'medical and health sciences and services' < 'business' < 'history']

### Correct NaN Values in respective 'degfield' column

In [78]:

df.loc[df['degfield'] == 'n/a','degfield'] = np.nan

In [79]:
df_subset.loc[:,'college_degree'] = pd.notna(df.degfield)

df_subset.sample(50)

/Users/laroehr/opt/miniconda3/lib/python3.9/site-packages/pandas/core/indexing.py:1667: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value

        age     sex                       educ   inctot  college_degree
37738    78  female          1 year of college     8400           False
8972     40  female         4 years of college    56000            True
38056    20    male        grade 5, 6, 7, or 8    32000           False
101030   14  female                    grade 9  9999999           False
254647   80    male         4 years of college     3800            True
296998    7    male  nursery school to grade 4  9999999           False
74793    19    male          1 year of college        0           False
63975    71    male         2 years of college    46390           False
42429    95    male                   grade 12    17900           False
152218    2  female        n/a or no schooling  9999999           False
184830   10    male  nursery school to grade 4  9999999           False
274572    6    male  nursery school to grade 4  9999999           False
301367   30  female          1 year of college    27000           False
206839   28  female         4 years of college    28000            True
179097    5    male        n/a or no schooling  9999999           False
201201   12    male        grade 5, 6, 7, or 8  9999999           False
182172   37    male          1 year of college    65000           False
114446   49  female         2 years of college    45000           False
139617   43  female                   grade 12    27000           False
265564   25  female         4 years of college    38000            True
246597   54    male          1 year of college    62900           False
252526   16  female                   grade 11        0           False
225255   24    male          1 year of college        0           False
49526    64    male          1 year of college     9800           False
143281   25    male        n/a or no schooling        0           False
247167    1    male        n/a or no schooling  9999999           False
8194     75    male  nursery school to grade 4     9000           False
293129   55    male          1 year of college      600           False
240387   71  female                   grade 12     7700           False
35525    40    male         2 years of college        0           False
131463   63    male                   grade 12        0           False
34404    69  female        n/a or no schooling     8600           False
212662   21    male                   grade 12        0           False
286533   15  female                   grade 10        0           False
151408   62    male        n/a or no schooling    40000           False
57151    92    male        5+ years of college        0            True
249321   69    male         2 years of college    62600           False
11634    41  female         4 years of college    33000            True
250800   38    male  nursery school to grade 4    36000           False
175754   63  female                   grade 12    62000           False
132475   44    male                   grade 12    39900           False
236396    8  female  nursery school to grade 4  9999999           False
87497    90  female        grade 5, 6, 7, or 8     6000           False
195360   10    male  nursery school to grade 4  9999999           False
151455   60  female                   grade 12        0           False
277709    3  female        n/a or no schooling  9999999           False
263486   37    male                   grade 12    32000           False
270964   12  female        grade 5, 6, 7, or 8  9999999           False
257827   59  female         2 years of college    38000           False
286487   54    male                   grade 12    34800           False

### 10) Letâ€™s examine how the educational gender gap. Use pd.crosstab to create a cross-tabulation of sex and college_degree. pd.crosstab will give you the number of people who have each combination of sex and college_degree (so in this case, it will give us a 2x2 table with Male and Female as rows, and college_degree True and False as columns, or vice versa.

In [40]:
import pandas as pd
pd.crosstab(index=df_subset['college_degree'], columns=df_subset['sex'])

sex               male  female
college_degree
False           119684  122307
True             36181   40832

### 11) Counts are kind of hard to interpret. pd.crosstab can also normalize values to give percentages. Look at the pd.crosstab help file to figure out how to normalize the values in the table. Normalize them so that you get the share of men with and without college degree, and the share of women with and without college degrees.

In [41]:
pd.crosstab(index=df_subset['college_degree'], columns=df_subset['sex'],normalize='index')

sex                 male    female
college_degree
False           0.494580  0.505420
True            0.469804  0.530196

### 12) Now, letâ€™s recreate that table for people over 40 and people under 40. Has the difference between men and women in terms of getting a college degree impoved, stayed the same, or worsened?

In [46]:
ageOver_40 = df_subset[df_subset["age"] > 40]
ageOver_40.sample(20)

        age     sex                 educ  inctot  college_degree
258465   69  female   4 years of college   25900            True
275169   78  female             grade 12   26300           False
201377   49  female             grade 12   36600           False
19181    76  female   4 years of college   40000            True
98273    53    male  5+ years of college   80000            True
202600   69    male   2 years of college   16400           False
227175   41  female   4 years of college  148000            True
30884    51    male             grade 12       0           False
205643   41    male   2 years of college   24200           False
279164   72  female             grade 12       0           False
88868    75    male  5+ years of college   22200            True
12238    67    male  grade 5, 6, 7, or 8    9500           False
281226   57    male  5+ years of college   53080            True
110096   60  female    1 year of college       0           False
79070    78  female             grade 12    8020           False
251624   62    male             grade 12   14000           False
23516    70  female  5+ years of college   32000            True
92218    52    male             grade 12   66000           False
188404   63  female    1 year of college   40000           False
307587   41    male   4 years of college   96400            True

In [48]:
pd.crosstab(index=ageOver_40['college_degree'], columns=ageOver_40['sex'],normalize='index')

sex                 male    female
college_degree
False           0.464684  0.535316
True            0.487035  0.512965

### Response: The situation for people over 40 is similar. Still more women have a college degree than men but it is really balanced.