### 1) For our data cleaning exercises, we will return one last time to our ACS data here. Download and import the 10percent ACS sample.

In [ ]:
import pandas as pd
df = pd.read_stata('./US_ACS_2017_10pct_sample.dta')

### 2) For our exercises today, we’ll focus on age, gender, sex, educ, and inctot. Subset your data to those variables, and quickly look at a sample of 10 rows.

In [ ]:
df_subset = df[["age", "sex", "educ", "inctot"]]
df_subset.sample()

pd.set_option('display.max_columns', None)
df.head()

3) First, replace all the values of inctot that are 9999999 with np.nan.

In [ ]:
import numpy as np
df_subset['inctot'].replace(9999999, np.NaN)

### 4) Calculate the average age of people in our data. What do you get?

In [ ]:
df_subset['age'].mean()

### Response: Does not work because it is a categorical variable.

5) We want to be able to calculate things using age, so we need it to be a numeric type. Check all the values of age to figure out why it’s categorical and not numeric. You should find two problematic categories.

In [ ]:
df_subset['age']

### 6) In order to convert age into a numeric variable, we need to replace those problematic entries with values that pandas can later convert into numbers. Pick appropriate substitutions for the existing values and replace the current values. Hint 1: Categorical variables act like strings, so you might want to use string methods! Hint 2: Remember that characters like parentheses, pluses, asterices, etc. are special in Python strings, and you have to escape them if you want them to be interpreted literally!

In [ ]:
df_subset["age"].replace("less than 1 year old", "0")
df_subset["age"].replace("90 (90+ in 1980 and 1990)" , "90")
df_subset["age"]

### 7) Now convert age from a categorical to numeric.

In [ ]:
pd.to_numeric(df_subset["age"])

In [ ]:
df_subset["age"].mean()

### 8) Let’s now filter out anyone in our data whose age is less than than 18. Note that before made age a numeric variable, we couldn’t do this!

In [ ]:
df_filtered = df_subset[df_subset["age"] < 18]
df_filtered

### 9) Create an indicator variable for whether each person has at least a college degree called college_degree.

In [ ]:
#correct NaN Values in respective 'degfield' column
df.loc[df['degfield'] == 'n/a','degfield'] = np.nan

#--> there is of cause also an option to do it without replacing 'n/a' but I don't like it, so I won't share it here

#CHOOSE WHICH ONE TO USE -->
#option 1: add college_degree field based on isna funcion (using loc)
df_subset.loc[:,'college_degree'] = pd.notna(df.degfield)

#option 2: add college_degree field based on isna funcion (easy)
#df_subset['college_degree'] = pd.notna(df.degfield)


df_subset.sample(50)